body {
  font-family: Arial;
  background-color: black;
  background-image:linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%),url("https://files.tecnoblog.net/wp-content/uploads/2019/01/netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.container {
  background-color: rgba(0, 0, 0, 0.83);
  padding: 45px;
  border-radius: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  width: 350px;
}

.logo h1 {
  color: #e50914;
  font-size: 50px;
  margin-bottom: 20px;
  top:0px;
  left:30px;
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: left;
}

form input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 14px;
  }
  
  .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.options label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  cursor: pointer;
}
button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 28px;
}

button:hover {
  background-color: #e50914;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.options a {
  color: #b3b3b3;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
  margin-top: 80px;
}

.signup a {
  color: white;
  font-weight: bold;
}

